<form action="/<%=action%>?id=<%=book.id%>" method="post">
  <label for="name"
    >Name:
    <input
    required
      type="text"
      id="name"
      value="<%=book.name%>"
      name="bookName" /></label
  ><label for="author"
    >Author:
    <input type="text" id="author" 
    required
    name="author" value="<%=book.author%>" />
  </label>
  <label for="numOfPages">
    Number of pages:
    <input
    required

      type="number"
      id="numOfPages"
      name="numOfPages"
      value="<%=book.num_of_pages%>"
    /> </label
  ><label for="numAvailable">
    Number available:
    <input
    required

      type="number"
      name="numAvailable"
      id="numAvailable"
      value="<%=book.num_available%>"
    /> </label
  ><label for="price"
    >Price:
    <input
    required

      type="text"
      id="price"
      name="price"
      value="<%=book.price%>"
    /> </label
  ><label for="ratings"
    >Ratings:
    <input type="text" id="ratings" 
    required
    name="ratings" value="<%=book.ratings%>"
  /></label>
  <% if(category){%>
  <label for="category"
    >Category: <input type="text"     required
    id="category" name="category"
  /></label>
  <%}%>
  <button class="btn-add-book">Submit</button>
</form>
